---
---

@import "{{ site.theme }}";
@import "w3.css";
table {
  display: table!important; /* fix for Chrome table display */
}

.project-name {
  text-align: left;
  @include large {
    width: 8rem;
    font-size: 2rem;
  }

  @include medium {
    width: 7rem;
    font-size: 1.75rem;
  }

  @include small {
    width: 6rem;
    font-size: 1.5rem;
  }
}

.project-tagline {
  text-align: center;
  @include large {
    font-size: 1.75rem;
  }

  @include medium {
    font-size: 1.5rem;
  }

  @include small {
    font-size: 1.25rem;
  }
}

.page-header {
  margin: 0;
  padding: 0;
}

.w3-cell-row::before {
  display: none;  /* fix for safari table display */
}

.main-content {
  margin: auto;
  margin-top: 52px;
  padding: 0;
  padding-top: 1rem;

  @include large {
    max-width: 60%;
  }

  @include medium {
    max-width: 75%;
  }

  @include small {
    max-width: 96%;
  }
}

.w3-button {
  border-radius: 0; /* fix for Chrome button style on macOS */
}

#mySidebar {
  display: none;
  z-index: 3;
  @include large {
    display: block;
  }
}

.mySlides {
  display: none;
  width: 100%;
}

#slidectrl {
  width: 100%;
}

.cursor {
  cursor:pointer;
  text-shadow: 0px 0px 5px #000000
}

.dotnavi {
  height:13px;
  width:13px;
  padding:0;
  cursor:pointer;
  box-shadow: 0px 0px 5px #000000
}

.portrait {
  padding: 0;
  @include large {
    max-width: 20%;
  }

  @include medium {
    max-width: 22.5%;
  }

  @include small {
    max-width: 25%;
  }
}

.w3-card-4 {
  margin-top: 1rem;
  width: 100%
}

.feather {
  position:relative;
}

.feather::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px -20px 20px white inset;
}

.name {
  font-size: 1.5rem;
  color: $section-headings-color;
  margin-bottom: 0;
  @include small{
    font-size: 1.25rem;
  }
}

.title {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  @include small{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom:0;
  }
}

.email {
  font-size: 1.25rem;
  color: $body-link-color;
  @include small{
    font-size: 1rem;
  }
}

.text {
  text-align: justify;
  font-size: 1.25rem;
  height: 10rem;
  overflow: auto;
  @include small{
    font-size: 1rem;
  }
}

.absbtn {
  padding: 0;
}

.abs{
  margin: 0;
}
